.gallery-text {
  position: sticky;
  left: 0;
  width: 400px;
  height: 500px;
  background-color: red;
  padding: 20px;

  h2 {
    margin-bottom: 20px;
    font-weight: 100;
  }
}

.gallery {
  width: calc(100vw - 400px);
  overflow: hidden;
}

.gallery-images {
  overflow-y: scroll;
  width: 100%;
}

