// Specific CSS for your home-page
.image_link {
  position: absolute;

  img {
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
    opacity: 0.7;
  }
  :hover {
    opacity: 0.9;
    transition: 0.2s;
    z-index: 100;
  }
}


#image-link-1 {
  right: -40px;
  top: 10px;
}

#image-link-2 {
  left: -20px;

}

#image-link-3 {
  top:10px;
  left:30px;
}

#image-link-4 {
  top: 40px;
}

#image-link-5 {
  top: 250px;
  right:20px;
}


@media(max-width: 1024px) {
  .image_link {
    position: unset;
    margin: 15px 0px;

    img {
      max-width: 500px;
      height: auto;
      max-height: 500px;
      object-fit: contain;
      opacity: 0.7;
      margin: 10px;
    }
  }

}

@media(max-width: 991px) {
  .image_link {
    position: unset;
    margin: 15px 0px;

    img {
      max-width: 500px;
      height: auto;
      max-height: 500px;
      object-fit: contain;
      opacity: 0.7;
      margin: 10px;
    }
  }
  
  #image-link-1 {
    right: 0px;
    top: 0px;
  }
  
  #image-link-2 {
    left: 0px;
  
  }
  
  #image-link-3 {
    top: 0px;
    left: 0px;
  }
  
  #image-link-4 {
    top: 0px;
  }
  
  #image-link-5 {
    top: 0px;
    right: 0px;
    img {
      width: 500px;
      height: auto;
    }
  
  }

  
}

@media(max-width: 320px) {


  .image_link {
    position: unset;

    img {
      margin: 10px;
      max-width: 280px;
      height: auto;
      max-height: 500px;
      object-fit: contain;
      opacity: 0.7;
    }
  }

    
  #image-link-5 {
    top: 0px;
    right: 0px;
    img {
      width: 280px;
      height: auto;
    }
  
  }


}
