<div class="container mx-auto container-main"->
  <div class="flex justify-center" id="profile-container">
    <div class="text-left mr-5">
    <h2 class="text-subtitle">Bio</h2>
      <p>Je m'appelle Laura, je suis diplômée en art visuels de l'université de Paris 8 et en aanthropologie de l'EHESS Paris</p>
      <p>Je fais de la photo, de l'art visuel contemporain et je m'intéresse au monde de manière générale</p>
    <h2 class="text-subtitle">Curriculum</h2>
    <h2 class="text-subtitle">Expos, concours</h2>
    </div>
    <%= image_tag 'profile.jpg', id:"profile-picture" %>

  </div>
</div> 