<div class="container container-main">
  <h1>Hey</h1>
  <p>Je m'appelle Laura, je suis diplômée en art visuels de l'université de Paris 8 et en aanthropologie de l'EHESS Paris</p>
  <p>Je fais de la photo, de l'art visuel contemporain et je m'intéresse au monde de manière générale</p>
</div>