<div class="container mx-auto container-main"->
  <div class="justify-center" id="profile-container">
    <div class="text-justify mr-5">
    <h2 class="text-subtitle">Bio</h2>
      <p><%= @biography %></p>
    <h2 class="text-subtitle">Curriculum</h2>
    <h2 class="text-subtitle">Expos, concours</h2>
    <h2 class="text-subtitle">Contact</h2>
    <div>
      <a href="mailto:laura.martin.person@gmail.com">laura.martin.person@gmail.com</a><br>
      <a href="https://www.instagram.com/laura_personne/"><i class="fab fa-instagram">@laura_personne</i></a>
    </div>


    </div>
    <%= image_tag 'profile.jpg', id:"profile-picture" %>

  </div>
</div> 
