<div class="container mx-auto container-main"->
  <div class="justify-center" id="contact-container">
    <div class="text-center mr-5">
      <h2 class="text-subtitle">Contact</h2>
      <div>
        <a href="mailto:laura.martin.person@gmail.com"><i class="far fa-envelope"></i>laura.martin.person@gmail.com</a><br>
        <a href="https://www.instagram.com/laura_personne/"><i class="fab fa-instagram"></i>@laura_personne</a><br>
        <a href=""><i class="fas fa-phone"></i>0611913465</a>
      </div>
    </div>
  </div>
