.container-main {
  @apply bg-white;
  margin-top: 40px;
}

#profile-container {
  #profile-picture {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.container-centered {
  width: 1000px;
  height: calc(100vh - 150px);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}