.button {
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.button-primary {
  color: white;
  background-color: black;
  width: 100%;
  border: 1px solid grey;
  // box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: grey;
  }
}

.dropdown-toggle {
  background-color: white !important;
  color: black !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  align-items: center !important;
  display: flex !important;
  font-family: "Roboto", sans-serif !important;
}