.cards {
  width: 100%;
  margin: 0 auto;
}

.image-card {
  padding: 10px;
  width: 100%;
  height: calc(100vh - 200px);
  img {
    object-fit: contain;
    height: 100%;
    min-width: 600px;
  }
}

@media screen and (max-width: 992px) {
  .image-card {
    height: auto;
    display: flex;
    justify-content: center;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .image-card {
    height: auto;
    img {
      min-width: 400px;
    }
  }
  
}

@media screen and (max-width: 350px) {
  .image-card {
    height: auto;
    img {
      min-width: 300px;
    }
  }
}
