
.grid {
  width: 100% !important;
  min-height: 100vh ;
}

/* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

/* ---- grid-item ---- */


.grid-sizer {
  width: 22%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-item {
  width: 22%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.one-picture-grid {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: center;
  text-align: justify;

  img {
    width: 100%;
    object-fit: cover;
  }
}


.overlay {
  background-color: black;
  &:hover img {
    opacity: 0.8;
  }
}

@media screen and (min-width: 993px) {
  .grid-container-sx {
    display: none;
  }
  
}


@media screen and (max-width: 992px) {
  .grid-container-sx {
    display: none;
  }
  
}

@media screen and (max-width: 600px) {

  .grid-container-sx {
    display: none;
  }
}

@media screen and (max-width: 350px) {

  .grid-container-sx {
    display: block;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    p {
      text-align: justify;
      margin-bottom: 10px;
    }
  }
}