.icon-trash {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.icon-trash:hover {
  color: #DC758F;
}


.admin-icon {
    color: black;
  }
  
.admin-icon:hover {
    color: #DC758F !important;
  }