
#navbar-title {
  font-family: $headers;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 40px 20px 20px 20px ;
  color: black; 
  text-decoration: none;
}

.main-navbar {
  height: 150px;
  background-color: white;
  z-index: 1000;
}


.navbar-link {
  font-family: $text;
  font-weight: 100;
  padding: 0;
  color: black;
}

.navbar-link:hover {
  font-weight: 400;
}

.navbar-dropdown {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 55px;
  padding: 5px;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.4);
  z-index: 100;
}

.dropdown-item:active {
  background-color: white !important;
}



@media screen and (max-width: 992px) {
  #navbar-title {
    font-size: 24px;
  }
  
  .main-navbar {
    height: 120px;
    background-color: white;
    z-index: 1000;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  #navbar-title {
    font-size: 24px;
  }

  .main-navbar {
    height: 120px;
    background-color: white;
    z-index: 1000;
  }
}

@media screen and (max-width: 350px) {
  #navbar-title {
    font-size: 20px;
  }

  .main-navbar {
    height: 120px;
    background-color: white;
    z-index: 1000;
  }
}
