// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";
@import "fancyapps/ui/dist/fancybox.css";

 /* picks it up in node_modules! */


// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {

  padding-bottom: 5%;
}

///////////////////@at-root
/// * { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.display-none {
  display: none;
}

.display {
  display: block;
}


a {;
  text-decoration: none !important;
  &:hover {
    color: black !important;
    font-weight: 500;
  }
}

.link {
  color: black !important;
}