// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap";
@import "fancyapps/ui/dist/fancybox.css";

 /* picks it up in node_modules! */


// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {

  padding-bottom: 5%;
}

///////////////////@at-root
/// * { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */


.grid {
  width: 100%;

}

/* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

/* ---- grid-item ---- */


.grid-sizer {
  width: 22%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.grid-item {
  width: 22%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}


.overlay {
  background-color: black;
  &:hover img {
    opacity: 0.8;
  }
}