// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap/scss/bootstrap"; /* picks it up in node_modules! */


// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  text-decoration: none;
  color: black;
}
.hidden {
  display: none;
}

body {

  padding-bottom: 5%;
}
