<div data-controller="gallery" class="grid gallery" data-masonry>
  <div class="grid-item">
      <%= @serie.name %>
    <p>
      <%= @serie.description %>
    </p>
  </div>
  <% @serie.photos.each do |photo| %>
    <div class="grid-item overlay">
        <%= image_tag(url_for(photo.key)), input_html: { data: {fancybox: 'gallery'} }  %>
    </div>
  <% end %>
</div>
