<div class="container-100">
  <div class="container-85">
    <h1> <%= @serie.name %></h1>
    <div class="cards">
      <% @serie.images.each do |image| %>
        <%= link_to series_image_path(image.serie.id, image.id) do %>
          <div class="image-card">
            <%= image.name %><br>
            <% if image.photo.attached? %>
              <%= image_tag(url_for(image.photo)) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
